assignment2/dissertations/
assignment2/dissertations
assignment2/filesToTranscribe
assignment2/filesToTranscribe/
assignment2/ocredTexts
assignment2/ocredTexts/
assignment2/words
assignment2/lemmas
assignment2/words/
assignment2/lemmas/
hidden
hidden/